<h1>Welcome to Our Platform, <%= @user.name %>!</h1>
<p>Thank you for registering. We are excited to have you on board!</p>
<p>Your account details:</p>
<ul>
  <li>Email: <%= @user.email %></li>
  <li>Role: <%= @user.role %></li>
</ul>
<p>Best regards,<br>Your Company Name</p>
