<h1>Hi <%= @user.name %>,</h1>
<p>Your details have been successfully verified.</p>
<p>You can now access all features of the platform.</p>
<p>Thank you for your patience!</p>
<p>Best regards,<br>Your Company Name</p>
